In [28]:
import pandas as pd

In [29]:
df = pd.read_excel('excels/广州/广告策划/2023-12-23/猎聘广州-广告策划-2023-12-23.xlsx')
df

,Unnamed: 0,序号,职位,职位标签,职位更新时间,薪资,地区,是否top职位,工作年限,学历,公司融资情况,公司名称,行业,规模,岗位详情,技能要求
0,0,1,广告策划,"['企业策划', '网站策划', '广告策划', '文案策划', '短视频', '视频网站'...",2023年07月04日,5-7k,广州-海珠区,否,1-3年,大专,NaN,广东珠江管业集团有限公司,金属冶炼,100-499人,https://www.liepin.com/job/1959743233.shtml,岗位职责： 1、能够深入了解公司的品牌内涵，把握客户需求，并根据公司广告定位及需求撰写完整的...
1,1,2,广告策划经理,"['文案策划', '媒介策划', '广告策划', '网站策划', '营销策划', '客户管理...",2023年08月22日,20-30k·16薪,广州-黄埔区,否,3-5年,统招本科,港股上市,京东物流,货运/物流/仓储,10000人以上,https://www.liepin.com/job/1961023089.shtml,工作内容： 1、 负责策划方案需符合时下趋垫与客户需求点结合； 2、 具备较强的策略策划能力...
2,2,3,广告策划,"['营销策划', '广告策划', '文案策划', '网站策划', '广告媒介', '广告/传...",2023年11月22日,10-20k,广州-天河区,否,3-5年,统招本科,NaN,广州信日信息科技有限公司,广告/公关/会展,100-499人,https://www.liepin.com/job/1963121211.shtml,【工作内容】 1. 撰写品牌数字、社会化媒体营销方案的传媒策略及内容策划方案 2. 根据情况...
3,3,4,广告策划,"['广告策划', '营销策划', '4A公司背景', 'to B', '广告/传媒/文化',...",2023年12月18日,15-23k,广州-天河区,否,3-5年,统招本科,港股上市,宝宝树,在线社交/媒体,100-499人,https://www.liepin.com/job/1948061671.shtml,岗位职责： 1、深刻理解宝宝树商业产品，提炼核心价值及应用场景，输出产品通案，提升产品认知及...
4,4,5,广告策划主管,"['广告策划', '活动策划', '营销策划']",2023年03月21日,12-20k,广州-增城区,否,3-5年,本科,NaN,五羊━本田摩托(广州)有限公司,其他制造业,2000-5000人,https://www.liepin.com/job/1957145127.shtml,1、广告策划：根据公司的产品定位，制订产品广告策略，推进产品广告形象的设计与制作。 2、宣传...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,396,广告策划,"['广告文案', '品牌文案', '视频文案', '创意策划', '品牌营销']",2022年07月27日,8-12k,广州,否,1-3年,本科,融资未公开,广州守腾网络科技有限公司,广告/公关/会展,1-49人,https://www.liepin.com/job/1939520923.shtml,岗位职责： 1、协助创意总监完成公司广告创意及品牌文字类项目； 2、配合平面设计人员实现活动...
396,396,397,广告策划,"['新媒体策划', '广告策划', '营销策划', '品牌策划', '乙方公司背景', '广...",2023年06月08日,8-15k,广州-海珠区,否,3-5年,本科,NaN,广州鼎承文化传媒科技有限公司,其他商务服务业,1-49人,https://www.liepin.com/job/1957005931.shtml,岗位职责： 1、参与品牌营销方案、品牌推广方案的策划与撰写，包括但不限于新品推广、超品日等；...
397,397,398,广告策划,"['新媒体', '新媒体策划', '活动策划']",2022年08月01日,15-30k,广州-白云区,否,1-3年,大专,NaN,布马网络,互联网,50-99人,https://www.liepin.com/job/1951554013.shtml,1. 负责全国地区美妆、3C/IT、快消、汽车等品牌客户拓展及维护，为客户提供新媒体营销、新...
398,398,399,房产行业广告策划,"['品牌文案', '广告文案', '新媒体文案', '媒介媒体']",2021年06月22日,6-10k,广州,否,1-3年,本科,融资未公开,多啦数字技术(广州)有限公司,互联网,100-499人,https://www.liepin.com/job/1940353387.shtml,职责描述： 1、对房地产行业客户进行品牌传播的研究和分析，提供基于今日头条、抖音、百度的产品...
399,399,400,游戏广告策划,"['信息流广告', 'AE', '二次元游戏', '手游', '仙侠风格']",2022年09月23日,8-12k,广州-天河区,否,1-3年,大专,其他,上海丰凡文化传媒有限公司,广告/公关/会展,100-499人,https://www.liepin.com/job/1952780043.shtml,岗位职责： 1.参与游戏过场动画、游戏版本宣发视频的构思和落地；独立完成静态及样片动态分镜；...

In [30]:
城市各学历岗位个数 = df.groupby(['地区','学历']).agg({'职位':'count'})

In [31]:
城市各学历岗位个数

             职位
地区     学历
广州     学历不限  10
       本科    40
       统招本科  10
广州-增城区 本科    20
广州-天河区 大专    30
       本科    40
       统招本科  20
广州-海珠区 大专    10
       学历不限  20
       本科    60
       统招本科  30
广州-番禺区 大专    10
       本科    20
       统招本科  10
广州-白云区 大专    20
广州-花都区 大专    10
广州-越秀区 大专    20
       本科    10
广州-黄埔区 统招本科  10

In [39]:
整个城市学历分布 = df.groupby(['学历']).agg({'职位':'count'})
整个城市学历分布

       职位
学历
大专    100
学历不限   30
本科    190
统招本科   80

In [33]:
整个城市学历分布 = pd.DataFrame(整个城市学历分布)

In [34]:
# 整个城市学历分布.insert(0,'城市',"广州")

In [35]:
# 整个城市学历分布.drop('城市',axis=1)

In [40]:
整个城市学历分布.to_excel(f'地区各学历岗位个数.xlsx')

In [41]:
df_try = pd.read_excel('地区各学历岗位个数.xlsx')

In [43]:
df_try.assign(**{'广州': ''})

     学历   职位 广州
0    大专  100
1  学历不限   30
2    本科  190
3  统招本科   80

In [46]:
import numpy as np
df_try = df_try.reindex(columns=['广州', '学历', '职位'], fill_value='')

In [47]:
df_try

  广州    学历   职位
0       大专  100
1     学历不限   30
2       本科  190
3     统招本科   80

In [37]:
城市各工作经验岗位个数 = df.groupby(['地区','工作年限']).agg({'职位':'count'})

In [38]:
城市各工作经验岗位个数

              职位
地区     工作年限
广州     1-3年   40
       5-10年  20
广州-增城区 3-5年   20
广州-天河区 1-3年   20
       3-5年   50
       5-10年  20
广州-海珠区 1-3年   30
       3-5年   60
       5-10年  30
广州-番禺区 1-3年   10
       5-10年  30
广州-白云区 1-3年   10
       5-10年  10
广州-花都区 1-3年   10
广州-越秀区 1-3年   10
       3-5年   20
广州-黄埔区 3-5年   10